@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: var(--font-league-spartan);
    --font-body: var(--font-open-sans);
    --font-slogan: var(--font-dancing-script);
  }

  body {
    @apply bg-gray-100 text-slate-900 font-body;
  }

  body.dark {
    @apply bg-dark-bg text-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
